/* Mobile */
@media screen and (max-width: 414px) {
  body {
    background: black;
    max-width: 414px;
    display: flex;
    flex-direction: column;
  }

  main {
    display: grid;
    grid-auto-rows: minmax(0px, 420px);
    row-gap: 30px;
  }


   
  
  .logo {
    font-size: 20px;
  }

}

/* Desktop */
/* @media screen and (min-width: 414px) {
  body {
    background: blue;
    grid-template-columns: minmax(0px, 414px)
  }

  .logo{
    font-size: 50px;
  }

  ul{
    background-color: green;
  }
} */
