header{
display: flex;
flex-direction: column;
height: 420px;
padding:22px 32px 0px 32px;
}

header a{
    color: var(--white-color);
    text-decoration: none;
}

.section-one{
    max-height: 358px;
    background: url(../assets/img/bg-top.png) no-repeat, url(../assets/img/bg-bottom.png) no-repeat ;
    color: var(--white-color);   
}

.section-one__nav{
    margin-bottom: 57.37px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 27.5px; 
}

#logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20.1818px;
    line-height: 27px;
}

.logos{
    display: flex;
    justify-content: space-between;
    top:30px;
    margin: 0 8px;
}



#section-one__title {
    color: var(--white-color);
    font-weight: 800;
    font-size: 38.34px;
    line-height: 46.7px;
    font-family: sans-serif;
    margin-bottom: 10.49px;
}


#section-one__btn {
    margin-top: 30.16px;
    margin-bottom: 33.17px;
    width: 162px;
    height: 40.5px;
    border-radius: 3.24px;
    background: var(--light_purple-color);
    border: var(--gray-color) 0.81;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14.58px;
    line-height: 18px;
    color: var(--white-color);
}