header{
display: flex;
flex-direction: column;
/*align-items: center;*/
height: 420px;
padding:22px 32px 0px 32px;
}

.logos{
    display: flex;
}

.section-one__nav{
    /*padding:22px 32px 0px 32px;*/
    margin-bottom: 57px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-one{
    background: url(../assets/img/bg-top.png) no-repeat, url(../assets/img/bg-bottom.png) no-repeat;
}
header a{
    color: var(--white-color);
    text-decoration: none;
}
.title-section1 {
    color: var(--white-color);
    font-weight: 800;
    font-size: 38.34px;
    line-height: 46.7px;
    font-family: sans-serif;
}
.section-one{
    color: var(--white-color);
}