/* Se agregan elemento que se van a repetir */

:root {
  --white-color: #FFFFFF;
  --gray-color: #857885;
  --purple-color: #5C0E62;
  --red-color: #E23434;
  --yellow-color: #FFBC51;
}

.title-section{
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.04em;
  color: var(--gray-color)
}

.color-purple{
  color: var(--purple-color)
}

.center-text{
  text-align: center;
}

