@media screen and (max-width: 414px) {
.section-carousel {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(96.34deg, #5C0E62 21.31%, #00B5D0 85.3%); */
  background-image: url(../../assets/img/fondocarousel.png);
  height: 600px;
  margin-top: 60px;

  position: relative;
}

.contenedor-slider{
  position: absolute;
  margin: auto;
  top: 150px;
}
.section-carousel h2 {
  margin-left: 84px;
  margin-top: 80px;
  position: relative;
  text-align: center;
  color: var(--white-color);
  width: 264px;
}

/* parrafo debajo de la foto customer */
.section-carousel p {
  position: absolute;
  margin: 210px 80px;
  width: 270px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
  color: var(--white-color);
  font-family: ProximaNova-Bold
}

/* texto LEO MAYNUS */
.section-carousel h1 {
  position: absolute;
  margin: 270px 140px;
  width: 150px;

  font-weight: 900;
  font-size: 21.1226px;
  line-height: 128.6%;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: var(--yellow-color);
  font-family: ProximaNova-Bold
}

/* Texto CEO at Softpanda */
.section-carousel h3 {
  position: absolute;
  margin: 300px 150px;
  width: 150px;
  font-size: 14.0817px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
  color: var(--yellow-color);
  font-family: ProximaNova-Bold
}

#slide0 {
  margin: -2.5px;
}

.slider {
  position: relative;
  padding-left: 150px;
}

.slider li {
  opacity: 0; /*Ocultamos todos los <li>*/
  transition: opacity 0.5s;
  position: absolute; /*Posicionamos en absoluto los <li>*/
  padding-top: 60px;
}

.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

.slider li:target {
  opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}

.slider li img {
  border: 3px solid white;
  border-radius: 50%;
}

#nav-carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 56px;
  height: 18px;
  margin: auto;
  padding-bottom: 40px;
  top: 420px;
}

#nav-carousel li {
  margin: auto;

  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--purple-two-color);
}
#nav-carousel nav {
  opacity: 0;
}
#nav-carousel li:hover {
  background: var(--white-color);
}




/* no visile en mobile */
#vector1{
  height: 0px;
  visibility: hidden ;
}
#vector2{
  height: 0px;
  visibility: hidden ;
}
#vector3{
  height: 0px;
  visibility: hidden ;
}
#vector4{
  height: 0px;
  visibility: hidden ;
}

.title-section p{
  height: 0px;
  visibility: hidden;
}

.section-carousel__title-section p{
  height: 0px;
  visibility: hidden;
}

}


