
@media screen and (max-width: 414px) {
  body {
    max-width: 414px;
    display: flex;
    flex-direction: column;
  }

  main {
    display: grid;
    grid-auto-rows: minmax(0px, 410px);
    row-gap: 30px;
  }

}