


.title-section {
  font-size: 24px;
  line-height: 30.86px;
  font-family: ProximaNova-Bold;
  font-weight: 800;
  letter-spacing: 0.04em;
  color: var(--gray-color);
  position: relative;
}

.paragraph-section {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
  color: var(--gray-color);
}

.link-section {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--purple-color);
}

.section-two {
  position: relative;
  margin-top: 40px;
}

.section-two__subtract {
  position: absolute;
  z-index: -1;
left: -25px;
top: -30px;
}

.section-subtract{
position: absolute;
z-index: -1;
left: -25px;
top: -43px;
}
@media screen and (max-width: 414px) {
.section-two__image img {
  margin-bottom: 30px;
}

.section-two__cards{
  display: none;
}

.section-image img {
  margin-left: 39px;
  margin-bottom: 22.35px;
}

.section-four_image{
  margin-left: 39px;
  margin-bottom: 62.9px;
}

.section-five_image{
  margin-bottom: 49.7px;
}

.section-title {
  color: var(--red-color);
  font-style: normal;
  font-weight: bold;
  font-size: 12.7849px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
}

.section-link {
  font-style: normal;
  font-weight: bold;
  font-size: 12.7849px;
  line-height: 16px;
  text-decoration: none;
  color: var(--purple-color);
  text-align: center;
}
}