/* Se agregan elemento que se van a repetir */
:root {
  --white-color: #ffffff;
  --gray-color: #857885;
  --purple-color: #5c0e62;
  --red-color: #e23434;
  --yellow-color: #ffbc51;
  --blue-color: #210933;
  --purple-two-color: #434472;
  --light_purple-color: #798AC9;
  --orange-color: #FFBC51;
}

/* mobile */
@media screen and (max-width: 414px) {

  .color-purple {
    color: var(--purple-color);
  }
   /* en mobile se justifica el texto en center */
  .justify-text {
    text-align: center;
  }

  .center-margin {
    margin: 0 35px;
  }

  .gap-section {
    display: grid;
    row-gap: 10px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-center{
    display: flex;
    align-items: center;
  }

  .a--nodec {
    color: var(--white-color);
      text-decoration: none;
  }
  .ocult-m {
    display: none;
  }

}
/* Desktop */
@media screen and (min-width: 415px) {

  /* en desktop se justifica el texto en left */
  .justify-text {
    text-align: left;
  }
  
  .color-purple {
    color: var(--purple-color);
  }
  
  .mg-top-16 {
    margin-top: 16px
  }

  }
