/* quita los margenes por defecto */
body {
    margin:0;
    padding:0
}

footer{
    position: absolute;
  /*  top: 2786px;*/
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    background: #210933;
    text-align: left;
   
}

.copyright{
    padding-bottom: 50px;
    padding-top: 20px;
}

@media(min-width:540px){
  /* -- escritorio -- */
    .container{
        padding: 100px;
    }
    .logoFooter {
        grid-column: 1;
        grid-row: 1;
        padding-top: 44px;
    }
    .social {
        grid-column: 1;
        grid-row: 1;
        padding-top: 80px;
    }
    .copyright {
        grid-column: 1;
        grid-row: 1;
        padding-top: 180px;
        padding-left: 25px;
        padding-right: 95px;
      
    }

    p{
        font-size: 14px;
    }
}

@media(max-width:540px){
    /* -- movil -- */
    .container {
       grid-template-columns: 1fr;
       text-align: center;
       padding-top: 80px;
    }
    .copyright{
       padding-left: 78px;
       padding-right: 69px;
    }
}


.container a {
    padding-top: 3rem;
    
    text-decoration:none;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 128.6%;
    /* identical to box height, or 18px */

    letter-spacing: 0.04em;

    color: #857885;
}

.container h2{
    padding-top: 3rem;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 128.6%;
    /* identical to box height, or 18px */

    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.container li {
    list-style:none;
    margin-top: 24px;
}

.social img{
    padding-top: 3rem;
    padding-left: 1.5rem;
}


.copyright img{
    padding-top: 10px;
}

p{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 10.4637px;
    line-height: 128.6%;
    /* identical to box height, or 13px */
    
    letter-spacing: 0.04em;
    
    color: #857885;

    float: right;
    
}