@media screen and (min-width: 415px) {
  /* DESKTOP */

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8rem;
    grid-auto-rows: minmax(100px, auto);
    padding: 280px 50px 180px 180px;
    background-color: var(--blue-color);
  
  }

  .footer__card {
    background-color: var(--white-color);
    border-radius: 10px;
    width: 65rem;
    height: 182px;
    z-index: 99;
    position: relative;
    top: 100px;
    left: 150px;
    display: inline-flex;
    justify-content: space-around;
  }

  .footer__card-texto {
    margin-top: 1.5em;
    color: var(--gray-color);
    font-weight: bold;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
  }

  .footer__card-span {
    color: var(--purple-color);
  }

  .footer__card-button {
    margin-top: 3.5em;
    background-color: var(--orange-color);
    width: 200px;
    height: 55px;
    border-radius: 5px;
    display: inline-flex; /* para centrar texto del boton junto con margin:auto  */
    box-shadow: 20px 0px 100px #999;
  }
  .footer__card-textoButton {
    text-decoration: none;
    line-height: 17, 05px;

    font-weight: 400;
    color: var(--white-color);
    margin: auto;
  }

  .footer-container-logoFooter {
    grid-column: 1;
  }

  .footer-container-logoFooter img {
    width: 210px;
  }

  .footer-container a {
    padding-top: 3rem;
    text-decoration: none;
    color: #857885;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
  }

  .footer-container li {
    margin-top: 24px;
    font-size: 14px;
  }

  .footer-container-social {
    grid-column: 1;
    position: absolute;
  }

  .footer-container-social img {
    margin-top: 5.5rem;
    padding: 0.9rem;
  }

  .footer-container-copyright {
    grid-column: 1;
    position: absolute;
    padding: 200px 1px 10px 7px;
    width: 150px;
  }
  .footer-container-copyright img {
    width: 15px;
    height: 15px;
  }
  .footer-container-copyright p {
    font-style: normal;
    font-weight: bold;
    font-size: 10.4637px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: var(--gray-color);
    margin-left: 0.5rem;
    display: inline-flex;
  }
  .footer-container h2 {
    color: var(--white-color);
  }
}
