@media screen and (max-width: 414px) {
.footer-container {
  padding: 80px 0 50px 0;
  background-color: var(--blue-color);
}

.footer-container a {
  padding-top: 3rem;
  text-decoration: none;
  color: #857885;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
}

.footer-container h2 {
  padding: 3.5rem 0 1rem 0;
  color: var(--white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
}

.footer-container li {
  margin-top: 24px;
  font-size: 14px;
}

.footer-container-social img {
  margin-top: 2.5rem;
  padding: 0.9rem;
}

.footer-container-copyright {
  padding: 20px 69px 0 78px;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 216px;
}

.footer-container-copyright p {
  font-style: normal;
  font-weight: bold;
  font-size: 10.4637px;
  line-height: 128.6%;
  letter-spacing: 0.04em;
  color: var(--gray-color);
  margin-left: 0.3rem;
}
}