@media screen and (min-width: 415px){
    
    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
        grid-template-rows: repeat(6, 16.6vh);
    }
    header {
        background-image: url(../../assets/img/bg-sectionOne.png);
        background-repeat: no-repeat;
        background-size: 100% 91%;
    }
    .section-one__nav{
        grid-column: 1/13;
        grid-row: 1/2 ;
        margin: 2% 11.2% 0 11.2%;
    }
    

    #hamburger-menu{
        display: none;
    }
    .section-one__section{
        grid-column: 1/13;
        grid-row: 2/7;
        margin-top:6.7%;
        margin-left: 11%;
        width: 421px;
        font-family: "Proxima Nova", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18.2547px;
        line-height: 22px;
        color: var(--white-color);
    }

    .section-one__titles{
        font-weight: 800;
        font-size: 45px;
        line-height: 67px;
        margin-bottom: 18.25px;
    }

    .section-one__title {
        height: 57px;
    }

    .section-one__btn {
        width: 180px;
        height: 50px;
        background: var(--light_purple-color);
        border: 1px solid rgba(171, 163, 163, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        color: var(--white-color);
        font-family: "Proxima Nova", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-top: 32px;
    }
}